{% load static %}

<link rel="stylesheet" href="{% static 'recipes/index.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>

<body>

{% regroup object_list|dictsort:'meal' by meal as meals_list %}
{% block content %}
    <h1>Recipes</h1>
    <a href="{% url 'add_recipe' %}" class="button">Add recipe</a>
    {% for meal in meals_list %}
        <h2>{{ meal.grouper }}</h2>
        <ul>
        {% for recipe in meal.list %}
            <li><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}


</body>
</html>