body {
    height: 100%;
    background-color: #fcfcf5;
    z-index: 1;
}

.container-fluid {
    height: 180px;
}

.logo {
    width: 180px;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-light {
    background-color: goldenrod;
}

.navbar-light .navbar-nav .nav-link {
    color: #fcfcf5;
}

.navbar {
    height: 80px;
    z-index: 20;
    justify-content: flex-end;
    padding-left: 200px;
}

.navbar a {
    color: lightgoldenrodyellow;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

li a {
    color: green;
}

a:link {
    text-decoration: none;
}

a.button {
    background-color: goldenrod; /* Green */
    border: none;
    color: #fcfcf5;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.plus-button {
    /*height: 50px;*/
    font-size: 40px;
    font-weight: bold;
    margin-left: fill;
}

a.plus-button .bi-plus-circle {
    color: goldenrod;
}

.bi-arrow-right {
    color: black;
}

.table-button:hover .bi-arrow-right,
a.plus-button:hover .bi-plus-circle {
    color: #a67708;
}

.table .table-button {
    size: 40px 40px;
    padding: 0 20px;
    background-color: inherit;
}

#mainDiv {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
}









